<section class="recruit-message">
  <div class="recruit-message-heading">
    <h3>Enjoy Creation for Client</h3>
    <p>楽しむ心が良いモノを生む</p>
  </div>
  <p class="recruit-message-body">
    心を弾ましながら<br />夢いっぱいのサイトを作ろう！<br />お客様も自分もみんなが幸せになれるように
  </p>
  <div class="recruit-message-img-wrapper">
    <img src="/recruit/recruit01.jpg" alt="スタッフ3人が楽しげに仕事をしてる様子" />
  </div>
</section>

<style lang="scss">
  @import '../../../scss/main';

  .recruit-message {
    padding: 70px 0;
    text-align: center;
  }

  .recruit-message-heading {
    color: #391e88;
    margin: 20px 20px;
    padding: 0 15px;

    h3 {
      font-size: rem(72);
      font-weight: 700;
      line-height: 1;
      margin-bottom: 10px;
    }

    p {
      font-size: rem(32);
    }
  }

  .recruit-message-body {
    margin-bottom: 40px;
    letter-spacing: 0.05em;
    line-height: 1.8;
  }

  .recruit-message-img-wrapper img {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    width: 100%;
  }
</style>
