---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from './section/Hero.astro';
import News from './section/News.astro';
import Service from './section/Service.astro';
import Works from './section/Works.astro';
import EyeCatch from '../../components/EyeCatch.astro';
import Recruit from './section/Recruit.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import PageTopButton from '../../components/PageTopButton.astro';
---

<Layout title="PON DESIGN">
  <Header />
  <Hero />
  <main>
    <News />
    <Service />
    <Works />
    <EyeCatch>
      <div class="company-heading">
        <h2>COMPANY</h2>
        <p>私たちについて</p>
      </div>
    </EyeCatch>
    <Recruit />
    <Contact />
  </main>
  <Footer />
  <PageTopButton />
</Layout>

<style lang="scss">
  @import '../../scss/main';

  .company-heading {
    h2 {
      @include section-title;
    }
    p {
      @include section-sub-title;
    }
  }
</style>
