---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from './section/Hero.astro';
import News from './section/News.astro';
import Service from './section/Service.astro';
---

<Layout title="PON DESIGN">
  <Header />
  <Hero />
  <main>
    <News />
    <Service />
  </main>
</Layout>
