<section id="company-info">
  <div class="company-info-heading">
    <h2>会社概要</h2>
  </div>
  <dl class="company-info-table">
    <dt>社名</dt>
    <dd>株式会社PON DESIGN</dd>
    <dt>設立</dt>
    <dd>2025.02.10</dd>
    <dt>代表取締役</dt>
    <dd>猫山ポン太郎</dd>
    <dt>資本金</dt>
    <dd>1,000,000円</dd>
    <dt>所在地</dt>
    <dd>〒555-5555 東京都千代田区 ポンビルディング 606</dd>
  </dl>
  <div class="company-info-access">
    <div class="access-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.828029576439!2d139.7671248!3d35.68123620000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1680270090526!5m2!1sja!2sjp"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="access-map-link">
      <a href="https://goo.gl/maps/b5AqA853AfsPSw1Y7" target="_blank">Google mapで見る</a>
    </div>
  </div>
</section>

<style lang="scss">
  @import '../../../scss/main';

  #company-info {
    width: min(100%, 1140px);
    margin-inline: auto;
    padding: 70px 15px;
  }

  .company-info-heading {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      @include section-title;
    }
  }

  .company-info-table {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    dt {
      width: 20%;
      padding: 30px 10px;
      border-bottom: solid 1px #ddd;
      font-size: rem(16);
      font-weight: 700;

      @include mq(md) {
        width: auto;
        padding: 20px 0 4px;
        border-bottom: none;
        font-size: rem(14);
      }
    }
    dd {
      width: 80%;
      padding: 30px 10px;
      border-bottom: solid 1px #ddd;
      font-size: rem(16);

      @include mq(md) {
        width: 100%;
        padding: 4px 0 20px;
        font-size: rem(14);
      }
    }
  }

  .access-map {
    height: 400px;
    margin-bottom: 5px;

    @include mq(md) {
      height: 240px;
    }
  }
  .access-map-link a {
    transition: 0.3s;
    text-decoration: none;
    color: #391e88;
    font-size: rem(14);

    @include hover() {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
